body {
    background-image: url("/static/stars.jpg");
    background-size: contain;
    color:rgb(0, 0, 92);
}

div {
    overflow-x:auto;
}

table {
    background-color: lightblue;
    border: 5px solid;
    border-color: grey;
}

th, td {
    text-align: center;
    vertical-align: center;
}

tr:nth-child(even) {
    background-color:rgb(216, 229, 247);
}

tr:hover {
    background-color: aquamarine;
}

h1 {
    color:rgb(8, 119, 223);
    font-size: 150px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fredoka-header {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: large;
}

.mulish-table {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
}

.rank-table {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#ranking-table {
    width: 33vw;
}

@media screen and (max-width:1400px) {
    .mulish-table {
        font-size: 15px;
    }
}


@media screen and (max-width:1024px) {
    h1 {
        font-size: 75px;
    }

    .mulish-table {
        font-size: 10px;
    }
}

@media screen and (max-width:500px) {
    h1 {
        font-size: 45px;
    }

    #ranking-table {
        width: 50vw;
    }
}
